################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin
*/obj
/test.console/.vs
*.suo
*.user
/test.console/*/bin
/test.console/*/obj
